/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200px - 1800px:Big screen desktop min-width


Breakpoint argument choices
- Phone
- tab-port
- tab-land
- big-screen
*/
@keyframes moveInbutton {
  0% {
    opacity: 0;
    transform: translateY(2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

<<<<<<< HEAD
@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-50rem); }
  80% {
    transform: translateX(5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(-3rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

=======
>>>>>>> b84bba5... initial commit
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit; }
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: 'lato', sans-serif;
  font-weight: 400; }

.header__text {
  margin-top: 5rem;
  max-width: 45rem; }
  @media (max-width: 37.5em) {
    .header__text {
      max-width: 60rem;
      margin-top: 6rem; } }
  .header__text--main {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem; }
    @media (max-width: 37.5em) {
      .header__text--main {
        font-size: 5rem;
        line-height: 6rem; } }
  .header__text--sub {
    font-size: 1.5rem;
    color: #333;
    line-height: 2.5rem; }
    @media (max-width: 37.5em) {
      .header__text--sub {
        font-size: 2.2rem;
        line-height: 3.5rem; } }
  .header__text--btn {
    margin-top: 2rem; }
    @media (max-width: 37.5em) {
      .header__text--btn {
        margin-top: 3rem; } }

.about-heading {
  font-size: 3.4rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 3rem; }
  @media (max-width: 37.5em) {
    .about-heading {
      font-size: 3.7rem; } }

.about-text {
  text-align: right;
  margin-top: 1rem;
  padding-right: 5rem; }
  @media (max-width: 37.5em) {
    .about-text {
      margin-top: 1.2rem; } }
  .about-text--main {
    font-size: 1.8rem;
    font-weight: 600;
    color: #111111;
    margin-bottom: 1.5rem; }
    @media (max-width: 37.5em) {
      .about-text--main {
        font-size: 2.7rem;
        margin-bottom: 2.3rem; } }
  .about-text--sub {
    font-size: 1.5rem;
    color: #333;
    line-height: 2rem; }
<<<<<<< HEAD
<<<<<<< HEAD
=======
    @media (max-width: 37.5em) {
      .about-text--sub {
        font-size: 2.2rem;
        line-height: 3.2rem; } }
>>>>>>> Front
  .about-text--form {
    margin-top: 5rem; }
  .about-text--input {
    background-color: transparent;
    width: 30rem;
    height: 4.25rem;
    border: 1px solid #4169e1;
    outline: none;
    font-family: inherit;
    font-size: 1.5rem;
    color: #111111;
    padding: .2rem 1rem;
    transition: border .8s; }
    @media (max-width: 37.5em) {
      .about-text--input {
        width: 50rem;
        height: 7rem;
        font-size: 2.5rem; } }
    .about-text--input:valid {
      border: 1px solid #228b22; }
    .about-text--input:valid + .about-text--btn {
      background-color: #228b22; }
=======
>>>>>>> b84bba5... initial commit

.features-text--main {
  font-size: 4.5rem;
  font-weight: 500;
  color: #111111; }
  @media (max-width: 37.5em) {
    .features-text--main {
      display: inline-block; } }

.features-text--sub {
  font-size: 1.6rem;
  margin-top: .5rem;
  color: #333;
  font-weight: 700; }
  @media (max-width: 37.5em) {
    .features-text--sub {
      display: inline-block; } }

.features-text--btn {
  text-align: center; }

.section-premium--heading {
  font-size: 3.4rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }
  @media (max-width: 37.5em) {
    .section-premium--heading {
      font-size: 3.7rem; } }

.premium-card {
  width: 35rem;
  height: 107vh;
  margin-top: 5rem;
  background-image: url(../img/bg-5.jpg);
  background-position: center;
  background-size: cover;
<<<<<<< HEAD
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
  animation: moveInleft .8s ease-out; }
<<<<<<< HEAD
=======
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2); }
>>>>>>> b84bba5... initial commit
=======
  @media (max-width: 37.5em) {
    .premium-card {
      width: 50rem;
      height: 175vh;
      animation: none; } }
>>>>>>> Front
  .premium-card--text {
    padding: 2rem; }
    @media (max-width: 37.5em) {
      .premium-card--text {
        padding: 3rem; } }
  .premium-card--heading {
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: .2rem; }
    @media (max-width: 37.5em) {
      .premium-card--heading {
        font-size: 3.7rem; } }
  .premium-card--price {
    font-size: 4.2rem;
    font-weight: 700;
    margin: 2rem 0;
    color: crimson; }
    @media (max-width: 37.5em) {
      .premium-card--price {
        font-size: 5.2rem; } }
  .premium-card--sub {
    font-size: 1.5rem;
    color: #333;
    line-height: 2rem;
    margin-top: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #333; }
    @media (max-width: 37.5em) {
      .premium-card--sub {
        font-size: 2.2rem;
        line-height: 3rem;
        padding-bottom: 2rem; } }
  .premium-card--menu {
    margin-top: 2rem;
    list-style: none; }
    @media (max-width: 37.5em) {
      .premium-card--menu {
        margin-top: 3.2rem; } }
  .premium-card--menu-items {
    font-size: 1.6rem;
    color: #111111; }
    @media (max-width: 37.5em) {
      .premium-card--menu-items {
        font-size: 2.2rem; } }
    .premium-card--menu-items:not(:first-child) {
      margin-top: 1.8rem; }
      @media (max-width: 37.5em) {
        .premium-card--menu-items:not(:first-child) {
          margin-top: 2rem; } }
  .premium-card .fa {
    margin-right: 1rem;
    font-size: 1.6rem;
    color: #111111; }
    @media (max-width: 37.5em) {
      .premium-card .fa {
        font-size: 2.2rem;
        margin-right: 1.5rem; } }

.testimony--heading {
  font-size: 3.4rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
  color: #111111; }
  @media (max-width: 37.5em) {
    .testimony--heading {
      font-size: 3.7rem; } }

.testimony-background {
  width: 100%;
  height: 62vh;
  text-align: center;
  background-image: url(../img/bg-5.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 10rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  animation: moveInbutton .8s ease-out;
  animation-fill-mode: backwards;
  backface-visibility: hidden; }
  @media (max-width: 37.5em) {
    .testimony-background {
      height: 110vh;
      animation: none; } }

.testimony__text {
  padding: 0 2rem; }
  @media (max-width: 37.5em) {
    .testimony__text {
      padding: 0 3rem; } }
  .testimony__text--pic {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-top: -5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2); }
    @media (max-width: 37.5em) {
      .testimony__text--pic {
        width: 17rem;
        height: 17rem; } }
  .testimony__text--sub {
    margin-top: 3rem;
    font-size: 1.6rem;
    line-height: 2.5rem;
    color: #333; }
    @media (max-width: 37.5em) {
      .testimony__text--sub {
        margin-top: 3.7rem;
        font-size: 2.2rem;
        line-height: 3rem; } }
  .testimony__text--main {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #111111; }
    @media (max-width: 37.5em) {
      .testimony__text--main {
        margin-top: 2rem;
        font-size: 2rem; } }
  .testimony__text--rating {
    margin-top: 2rem; }
  .testimony__text .fa {
    color: darkorange;
    font-size: 1.6rem; }
    @media (max-width: 37.5em) {
      .testimony__text .fa {
        font-size: 1.8rem; } }

<<<<<<< HEAD
.icon-basic {
  display: inline-block;
  position: fixed;
  top: 40%;
  left: 2%; }
  @media (max-width: 37.5em) {
    .icon-basic {
      top: 50%; } }
  .icon-basic--link {
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #111111; }
    @media (max-width: 37.5em) {
      .icon-basic--link {
        font-size: 2.7rem; } }
    .icon-basic--link:not(:first-child) {
      margin-top: 1.5rem; }
      @media (max-width: 37.5em) {
        .icon-basic--link:not(:first-child) {
          margin-top: 1.8rem; } }
    .icon-basic--link:hover {
      color: #4169e1; }

.U-margin-small {
  margin-top: 3rem; }
=======
.U-margin-small {
  margin-top: 2rem; }
>>>>>>> b84bba5... initial commit

.center {
  justify-content: center; }

.sh-left {
  text-align: right;
  margin-right: 2rem;
  padding-top: 2rem; }

.U-left {
  text-align: left;
<<<<<<< HEAD
  padding-left: 7rem; }
=======
  padding-left: 5rem; }
>>>>>>> b84bba5... initial commit

.U-margin-big {
  margin-top: 7rem; }

<<<<<<< HEAD
.U-margin-left {
  margin-left: 4rem; }

=======
>>>>>>> b84bba5... initial commit
.U-margin-bg {
  margin: 5rem 0; }

.animated-1 {
  animation-delay: 1s; }

.animated-2 {
  animation-delay: 2s; }

<<<<<<< HEAD
.U-top {
  margin-top: -1.5rem; }

.sh-demo {
  margin-top: -11rem; }

.square--box {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ff4500;
  display: inline-block;
  margin: 1.5rem auto; }
  @media (max-width: 37.5em) {
    .square--box {
      width: 2.5rem;
      height: 2.5rem;
      margin: 2.2rem auto; } }

.line {
  margin-top: -1rem; }
  .line--1 {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ff4500;
    display: inline-block;
    margin-bottom: 1rem; }
    @media (max-width: 37.5em) {
      .line--1 {
        width: 2.5rem;
        height: 2.5rem;
        margin-bottom: 1.5rem; } }
  .line--2, .line--3 {
    height: .1rem;
    border-radius: 3px;
    display: inline-block; }
    @media (max-width: 37.5em) {
      .line--2, .line--3 {
        height: .2rem; } }
  .line--2 {
    background-color: #228b22;
    width: 8rem; }
    @media (max-width: 37.5em) {
      .line--2 {
        width: 10rem; } }
  .line--3 {
    background-color: #4169e1;
    width: 6rem; }
    @media (max-width: 37.5em) {
      .line--3 {
        width: 8rem; } }

.commonBtn:link, .commonBtn:visited {
  background-color: #4169e1;
=======
.commonBtn:link, .commonBtn:visited {
  background-color: #1e90ff;
>>>>>>> b84bba5... initial commit
  padding: 1.5rem 2rem;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  transition: all .2s;
  color: #111111;
  font-weight: 500; }
  @media (max-width: 37.5em) {
    .commonBtn:link, .commonBtn:visited {
      padding: 2rem 3rem;
      font-size: 2rem; } }

.commonBtn:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.commonBtn:active {
  transform: translateY(0.5rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

<<<<<<< HEAD
.footer-box--btn {
  background-color: transparent;
  border: none;
  outline: none;
  position: relative; }
  .footer-box--btn .fa {
    font-size: 2rem; }
  .footer-box--btn--btn {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    visibility: hidden;
    padding: 1rem;
    background-color: #ff4500;
    margin-top: -2rem;
    cursor: pointer;
    transition: visibility .8s; }

.about-text--btn {
  background-color: #4169e1;
  width: 10rem;
  height: 5rem;
  padding: 1.3rem 1rem;
  border: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  margin-left: -.2rem;
  transition: border .8s; }
  @media (max-width: 37.5em) {
    .about-text--btn {
      width: 12rem;
      height: 7rem; } }
  .about-text--btn:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .about-text--btn:active {
    transform: translateY(0.5rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

=======
>>>>>>> b84bba5... initial commit
.header__img {
  width: 100%; }
  @media (max-width: 37.5em) {
    .header__img {
      opacity: 0;
      width: 0; } }

.U-center--img {
  width: 100%; }

.premium-warranty {
  width: 10rem;
  height: 10rem;
  display: inline-block;
  position: absolute;
  top: 10%;
  left: 57%;
  border-radius: 50%;
  transform: rotate(-25deg);
<<<<<<< HEAD
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  animation: moveInleft .8s ease-out; }
=======
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2); }
>>>>>>> b84bba5... initial commit

.premium-logo {
  width: 100%;
  border-radius: 50%; }

<<<<<<< HEAD
.brand__logo {
  width: 7rem;
  height: 7rem; }
<<<<<<< HEAD
=======
.square--box {
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ff4500;
  display: inline-block;
  margin: 1.5rem auto; }

.line {
  margin-top: -1rem; }
  .line--1 {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #ff4500;
    display: inline-block;
    margin-bottom: 1rem; }
  .line--2, .line--3 {
    height: .1rem;
    border-radius: 3px;
    display: inline-block; }
  .line--2 {
    background-color: #228b22;
    width: 8rem; }
  .line--3 {
    background-color: #4169e1;
    width: 6rem; }

.header {
  padding-left: 5rem;
  padding-top: 3rem;
  height: 100vh; }
  .header__logo {
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #111111; }
  .header__left-col {
    flex-basis: 38%; }
  .header__right-col {
    flex-basis: 60%;
    margin-left: 1rem; }
>>>>>>> b84bba5... initial commit
=======
  @media (max-width: 37.5em) {
    .brand__logo {
      opacity: 0;
      width: 0; } }
>>>>>>> Front

.navigation {
  float: right;
  position: fixed;
  border-radius: 100%;
<<<<<<< HEAD
  top: 2rem;
  right: 3rem;
  z-index: 2000; }
  .navigation--background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 2rem;
    right: 3rem;
    background-color: paleturquoise;
    z-index: -800;
    transition: all .5s; }
    @media (max-width: 37.5em) {
      .navigation--background {
        height: 9rem;
        width: 9rem; } }
  .navigation--nav {
    height: 30vh;
    position: fixed;
    top: 10%;
    right: 5%;
    z-index: -700;
    visibility: hidden;
    width: 0; }
  .navigation--ul {
    list-style: none;
    float: right;
    margin-right: 10rem; }
    @media (max-width: 37.5em) {
      .navigation--ul {
        margin-right: 11rem; } }
  .navigation--li:not(:first-child) {
    margin-top: 2rem; }
  .navigation--link {
    text-decoration: none;
    text-transform: uppercase;
    color: #111111;
    font-size: 1.6rem; }
    .navigation--link:hover {
      color: #333; }
<<<<<<< HEAD
=======
  top: 3rem;
  right: 3rem;
  z-index: 3000;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5); }
>>>>>>> b84bba5... initial commit
=======
    @media (max-width: 37.5em) {
      .navigation--link {
        font-size: 2rem; } }
>>>>>>> Front
  .navigation__input {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #111111;
<<<<<<< HEAD
    display: block;
    text-align: center;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
    z-index: 3000;
    cursor: pointer; }
    @media (max-width: 37.5em) {
      .navigation__input {
        width: 9rem;
        height: 9rem; } }
  .navigation__icon {
    margin-top: 1.9rem;
    position: relative; }
<<<<<<< HEAD
=======
    display: inline-block;
    text-align: center; }
  .navigation__icon {
    position: relative;
    margin-top: 1.9rem; }
>>>>>>> b84bba5... initial commit
=======
    @media (max-width: 37.5em) {
      .navigation__icon {
        margin-top: 2.7rem; } }
>>>>>>> Front
    .navigation__icon, .navigation__icon::before, .navigation__icon:after {
      width: 3rem;
      height: .2rem;
      background-color: #fff;
<<<<<<< HEAD
      display: inline-block;
      transition: transform .2s; }
<<<<<<< HEAD
=======
      display: inline-block; }
>>>>>>> b84bba5... initial commit
=======
      @media (max-width: 37.5em) {
        .navigation__icon, .navigation__icon::before, .navigation__icon:after {
          width: 5rem;
          height: .3rem; } }
>>>>>>> Front
    .navigation__icon::before {
      content: "";
      position: absolute;
      left: 0;
      top: 1rem; }
      @media (max-width: 37.5em) {
        .navigation__icon::before {
          top: 1.5rem; } }
    .navigation__icon::after {
      content: "";
      position: absolute;
      left: 0;
      top: 2rem; }
      @media (max-width: 37.5em) {
        .navigation__icon::after {
          top: 3rem; } }
  .checkbox:checked + .navigation__input .navigation__icon {
    background-color: transparent;
    margin-top: 2rem; }
    @media (max-width: 37.5em) {
      .checkbox:checked + .navigation__input .navigation__icon {
        margin-top: 4rem; } }
  .checkbox:checked + .navigation__input .navigation__icon::before {
    transform: rotate(-135deg);
    top: 0; }
  .checkbox:checked + .navigation__input .navigation__icon::after {
    transform: rotate(135deg);
    top: 0; }
<<<<<<< HEAD
  .checkbox:checked ~ .navigation--background {
    transform: scale(10); }
    @media (max-width: 37.5em) {
      .checkbox:checked ~ .navigation--background {
        transform: scale(6); } }
  .checkbox:checked ~ .navigation--nav {
    visibility: visible;
    width: 20%;
    animation: left .8s ease-out; }
<<<<<<< HEAD
=======
>>>>>>> b84bba5... initial commit
=======
    @media (max-width: 37.5em) {
      .checkbox:checked ~ .navigation--nav {
        width: 30%; } }
>>>>>>> Front

.checkbox {
  display: none; }

<<<<<<< HEAD
<<<<<<< HEAD
#section-pop {
  width: 35%;
  height: 70vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
  visibility: hidden; }
=======
.U-center {
  position: absolute;
  top: 60%;
  left: 60%;
  width: 10rem;
  height: 10rem;
  border-radius: 50%; }
>>>>>>> b84bba5... initial commit
=======
.section-pop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  .section-pop:target {
    opacity: 1;
    visibility: visible; }
  .section-pop:target .section-pop--content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1; }
  .section-pop--content {
    width: 50%;
    height: 70vh;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #fff;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .4s .2s;
    opacity: 0;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.9);
    border-radius: 3px; }
  .section-pop--icon:link, .section-pop--icon:visited {
    color: #111111;
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 2.5rem;
    font-weight: 700;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1; }
  .section-pop--icon:hover {
    color: #228b22; }
  .section-pop--text {
    text-align: center; }
  .section-pop .fa-handshake-o,
  .section-pop .fa-check {
    font-size: 15rem;
    color: #228b22; }
  .section-pop--main {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #111111;
    margin-top: 5rem; }
  .section-pop--sub {
    font-size: 2rem;
    color: #333;
    margin-top: 1rem; }
>>>>>>> Front

.footer-hero {
  width: 100%;
  height: 30vh;
<<<<<<< HEAD
  background-color: #ff4500; }
<<<<<<< HEAD
=======
  background-color: orangered; }
>>>>>>> b84bba5... initial commit
=======
  @media (max-width: 37.5em) {
    .footer-hero {
      height: 40vh; } }
>>>>>>> Front
  .footer-hero--tn {
    float: right;
    display: inline-block;
    padding: 6rem 5rem; }
    @media (max-width: 37.5em) {
      .footer-hero--tn {
        padding: 6rem 3rem; } }

.footer__text {
  padding: 5rem 5rem;
  display: inline-block;
  float: left; }
  @media (max-width: 37.5em) {
    .footer__text {
      padding: 5rem 3rem; } }
  .footer__text--sub {
    font-size: 2.5rem;
    font-weight: 700;
    color: #fff; }
    @media (max-width: 37.5em) {
      .footer__text--sub {
        font-size: 2.8rem; } }
  .footer__text--sm {
    font-size: 1.6rem;
    color: #fff;
    margin-top: 1rem; }
    @media (max-width: 37.5em) {
      .footer__text--sm {
        font-size: 2.2rem;
        margin-top: 1.5rem; } }

.footer-box {
  width: 100%;
  background-color: #111111;
  padding: 0 5rem; }
<<<<<<< HEAD
<<<<<<< HEAD
=======
  @media (max-width: 37.5em) {
    .footer-box {
      padding: 0 3rem; } }
>>>>>>> Front
  .footer-box--icon {
    margin-top: 2rem; }
  .footer-box--li {
    font-size: 1.8rem;
    color: #333;
    transition: all .4s; }
    @media (max-width: 37.5em) {
      .footer-box--li {
        font-size: 2.5rem; } }
    .footer-box--li:not(:first-child) {
      margin-left: 2rem; }
      @media (max-width: 37.5em) {
        .footer-box--li:not(:first-child) {
          margin-left: 0; } }
    .footer-box--li:hover {
      color: #fff; }
  .footer-box--text {
    margin-top: 5rem; }
  .footer-box--main {
    font-size: 1.6rem;
=======
  .footer-box--text {
    margin-top: 5rem; }
  .footer-box--main {
    font-size: 2rem;
>>>>>>> b84bba5... initial commit
    color: #fff;
    font-weight: 700;
    text-transform: uppercase; }
    @media (max-width: 37.5em) {
      .footer-box--main {
        font-size: 2rem; } }
  .footer-box--sub {
<<<<<<< HEAD
    font-size: 1.4rem;
=======
    font-size: 1.5rem;
>>>>>>> b84bba5... initial commit
    line-height: 2.5rem;
    color: #333;
    margin-top: 2rem; }
    @media (max-width: 37.5em) {
      .footer-box--sub {
        font-size: 2rem; } }
  .footer-box--menu {
<<<<<<< HEAD
    margin-top: 2rem;
    list-style: none; }
  .footer-box--menu-items:not(:first-child) {
    margin-top: 2rem; }
  .footer-box--link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #333;
    transition: all .4s; }
    @media (max-width: 37.5em) {
      .footer-box--link {
        font-size: 2rem; } }
    .footer-box--link:hover {
      color: #fff; }
  .footer-box--logo {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    margin-top: 7rem; }
    @media (max-width: 37.5em) {
      .footer-box--logo {
        width: 18rem;
        height: 18rem; } }
  .footer-box--form {
    margin-top: 2rem; }
    .footer-box--form:valid .fa {
      display: none; }
    .footer-box--form:valid .footer-box--btn--btn {
      visibility: visible; }
  .footer-box--input {
    background-color: transparent;
    width: 13rem;
    border: none;
    outline: none;
    padding: .5rem;
    color: #333;
    font-size: 1.2rem; }
    @media (max-width: 37.5em) {
      .footer-box--input {
        width: 50%;
        font-size: 2rem;
        padding: 1rem; } }
    .footer-box--input::placeholder {
      font-family: inherit;
      color: #333;
      font-size: 1.2rem; }
      @media (max-width: 37.5em) {
        .footer-box--input::placeholder {
          font-size: 2rem; } }

.footer-copyright {
  margin-top: 8rem;
  font-size: 1.4rem;
  color: #333;
  word-spacing: .5rem; }
  @media (max-width: 37.5em) {
    .footer-copyright {
      font-size: 2rem;
      margin-bottom: 2rem; } }
  .footer-copyright--link {
    color: orangered;
    text-decoration: none;
    transition: all .4s; }
    .footer-copyright--link:hover {
      color: #fff; }
=======
    margin-top: 3rem;
    list-style: none; }
>>>>>>> b84bba5... initial commit

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 1.5rem; }
    @media (max-width: 37.5em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 1.5rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 1.5rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 1.5rem) / 3) + 1.5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 1.5rem) / 4); }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 6rem) / 5); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 1.5rem) / 4) + 1.5rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 1.5rem) / 4) + 2 * 1.5rem); }

.row-1 {
  display: flex;
  flex-wrap: wrap; }

<<<<<<< HEAD
.header {
  padding-left: 7rem;
  padding-top: 3rem;
  position: relative; }
  @media (max-width: 37.5em) {
    .header {
      padding-left: 6rem;
      padding-top: 5rem; } }
  .header__logo {
    font-size: 2.5rem;
    font-weight: 700;
    position: absolute;
    top: 10%;
    left: 12%;
    text-decoration: none;
    text-transform: uppercase;
    color: #111111; }
    @media (max-width: 37.5em) {
      .header__logo {
        font-size: 6rem;
        top: 5%;
        left: 5%; } }
  .header__left-col {
    flex-basis: 38%; }
    @media (max-width: 37.5em) {
      .header__left-col {
        flex-basis: 100%; } }
  .header__right-col {
    flex-basis: 60%;
    margin-left: 1rem; }
    @media (max-width: 37.5em) {
      .header__right-col {
        opacity: 0;
        flex-basis: 0;
        margin-left: 0; } }

.U-center {
  position: absolute;
  top: 60%;
  left: 60%;
  width: 10rem;
  height: 10rem;
  border-radius: 50%; }

.log-body {
  background-color: #fff; }

.top {
  top: 40%; }

.section-log--heading {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700; }

.section-form {
  width: 100%;
  margin-top: 2rem; }
  .section-form:valid .section-form--input {
    border: 1px solid #228b22; }
  .section-form:valid .section-form--bg {
    background-color: #228b22; }
  .section-form--input {
    display: block;
    margin: 0 auto;
    background-color: transparent;
    width: 40rem;
    height: 3.5rem;
    padding: 2rem;
    border: 1px solid #4169e1;
    outline: none;
    font-size: 1.5rem;
    font-family: 'lato', sans-serif;
    transition: all .4s; }
    .section-form--input:not(:first-child) {
      margin-top: 3rem; }
  .section-form--btn {
    margin-top: 2rem;
    text-align: center; }
  .section-form--bg {
    background-color: #4169e1;
    width: 40rem;
    height: 5rem;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    margin-left: -.2rem;
    transition: border .8s;
    transition: all .4s; }
    .section-form--bg:hover {
      transform: translateY(-0.5rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .section-form--bg:active {
      transform: translateY(0.5rem);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .section-form--box {
    text-align: center;
    margin-top: 2rem; }
  .section-form--link {
    text-transform: uppercase;
    font-size: 1.6rem;
    text-decoration: none;
    color: #111111; }

.sideBar {
  width: 20%;
  height: 130vh;
  background-color: #000;
  margin-top: -3rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }
  .sideBar--img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 3rem auto; }
  .sideBar--user {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin-top: 2rem; }
  .sideBar--main {
    margin-top: 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700; }
  .sideBar--nav {
    margin-top: 7rem;
    text-align: center; }
    .sideBar--nav .fa {
      font-size: 1.5rem;
      margin-left: 1rem;
      border-radius: 3px;
      text-align: center;
      cursor: pointer; }
      .sideBar--nav .fa:not(:last-child) {
        background-color: rgba(34, 139, 34, 0.5); }
    .sideBar--nav .fa-plus {
      color: #32cd32;
      background-color: rgba(0, 255, 0, 0.2);
      padding: .5rem 1rem;
      border: 1px solid #32cd32; }
    .sideBar--nav .fa-ellipsis-v {
      color: #c71585;
      background-color: rgba(255, 105, 180, 0.5);
      padding: .5rem 1rem;
      border: 1px solid #ff1493; }
  .sideBar--1 {
    color: #0000cd;
    font-size: 1.2rem;
    background-color: rgba(0, 0, 255, 0.5);
    padding: .5rem 1rem;
    border: 1px solid #0000cd;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer; }
  .sideBar--navigation {
    margin-top: 2rem; }
  .sideBar--menu {
    list-style: none;
    padding-left: 2rem; }
  .sideBar--menu-items:not(first-child) {
    margin-top: 3rem; }
  .sideBar--menu-items .fa {
    font-size: 1.6rem; }
  .sideBar--menu-items .fa-home {
    color: darkorange; }
  .sideBar--menu-items .fa-check {
    color: lime; }
  .sideBar--menu-items .fa-close {
    color: red; }
  .sideBar--menu-items .fa-send {
    color: #ff4500; }
  .sideBar--link {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    margin-left: 1rem;
    transition: all .2s; }
    .sideBar--link:hover {
      color: #333; }
  .sideBar--btn {
    background-color: #4169e1;
    width: 90%;
    height: 3.7rem;
    text-align: center;
    margin-top: 2.5rem;
    margin-left: 1rem; }
  .sideBar--li {
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #111111;
    padding-top: 1rem;
    display: inline-block; }

.section-user {
  position: absolute;
  top: 0;
  left: 20%;
  width: 80%;
  height: 100vh; }
  .section-user--box {
    text-align: center;
    position: relative; }
  .section-user--img {
    width: 10rem;
    height: 10rem;
    margin-left: -2rem; }
  .section-user--sub {
    margin-top: -.5rem;
    font-size: 1.6rem;
    font-style: italic; }
  .section-user--task {
    margin-top: 2rem; }
  .section-user--heading {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #111111; }
  .section-user--content-1 {
    width: 50%;
    height: 130vh; }
  .section-user--details {
    padding: 2rem; }
  .section-user--main {
    display: block;
    font-size: 1.6rem;
    color: #111111;
    font-weight: 500;
    margin-left: -.5rem; }
    .section-user--main:not(first-child) {
      margin-top: 2.5rem; }
  .section-user .fa {
    margin-right: 1rem;
    font-size: 1.8rem; }
  .section-user--input {
    width: 36rem;
    height: 3rem;
    padding: 2rem;
    margin-top: 1rem;
    background-color: transparent;
    border: 1px solid #4169e1;
    outline: none;
    font-family: inherit;
    font-size: 1.5rem; }
    .section-user--input:valid + .fa-check {
      visibility: visible;
      color: #228b22; }
  .section-user--date {
    margin-top: 1.2rem;
    position: relative;
    font-family: 'lato', sans-serif; }
  .section-user--select {
    font-family: inherit;
    font-weight: 500;
    font-size: 1.5rem;
    outline: none;
    border: 1px solid #4169e1;
    display: inline-block;
    max-width: 20%;
    height: 70%;
    padding: .5rem;
    margin-top: .8rem;
    background-color: transparent;
    box-sizing: inherit;
    color: #111111; }
    .section-user--select:not(:first-child) {
      margin-left: 1.8rem; }
  .section-user--group {
    font-weight: normal; }
  .section-user--btn {
    float: right;
    background-color: #228b22;
    border: none;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    cursor: pointer;
    color: #111111; }
    .section-user--btn:hover, .section-user--btn:active {
      outline: none; }
  .section-user .fa-commenting {
    color: #4169e1; }
  .section-user .fa-map-marker {
    color: crimson; }
  .section-user .fa-send {
    color: #228b22; }
  .section-user .fa-close {
    color: red; }
  .section-user .fa-check {
    margin-left: 1rem;
    visibility: hidden;
    transition: visible .4s; }

.section-about {
  margin-top: 10rem;
  padding-left: 7rem;
=======
.section-about {
  margin-top: 10rem;
  padding-left: 5rem;
>>>>>>> b84bba5... initial commit
  text-align: center; }

.section-features {
  margin: 7rem 0;
  padding: 0 10rem;
  margin-bottom: 2rem; }

.section-premium {
  margin: 10rem 0;
  position: relative; }

.section-testimony {
  margin-top: 15rem;
<<<<<<< HEAD
  padding: 0 7rem;
  margin-bottom: 2rem; }

.footer {
  margin-top: 12rem;
=======
  padding: 0 3rem;
  margin-bottom: 2rem; }

.footer {
  margin-top: 10rem;
>>>>>>> b84bba5... initial commit
  margin-bottom: 2rem; }
