//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 1.5rem;
$gutter-horizon: 6rem;

//COLORS
$color-primary-sub: #333;
$color-primary-main: #111111;
$color-black: #000;
$color-white: #fff;
$color-dark-green: #228b22;
$color-box-bg: #ff4500;
$color-box--btn: #4169e1;

//FONTS
$default-size: 1.5rem;
$default-weight: 700;