.commonBtn{
    
    &:link,
    &:visited{
<<<<<<< HEAD
    background-color: $color-box--btn;
=======
    background-color: #1e90ff;
>>>>>>> b84bba5... initial commit
    padding: 1.5rem 2rem;
    display: inline-block;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all .2s;
    color: $color-primary-main;
    font-weight: 500;
        
        @include responsive(phone){
            padding: 2rem 3rem;
            font-size: 2rem;
        }
    }
    
    &:hover{
        transform: translateY(-.5rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }
    
    &:active{
        transform: translateY(.5rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
<<<<<<< HEAD
}

.footer-box--btn{
    background-color: transparent;
    border: none;
    outline: none;
    position: relative;
    
    .fa{
        font-size: 2rem;
    }
    
    &--btn{
        position: absolute;
        display: inline-block;
        top: 0;
        left: 0;
        font-size: 1.2rem;
        text-transform: uppercase;
        visibility: hidden;
        padding: 1rem;
        background-color: $color-box-bg;
        margin-top: -2rem;
        cursor: pointer;
        transition: visibility .8s;
    }
}

.about-text--btn{
    background-color: $color-box--btn;
    width: 10rem;
    height: 5rem;
    padding: 1.3rem 1rem;
    border: none;
    font-size: 1.6rem;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
    margin-left: -.2rem;
    transition: border .8s;
    
    @include responsive(phone){
            width: 12rem;
            height: 7rem;
        }
    
    &:hover{
        transform: translateY(-.5rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }
    
    &:active{
        transform: translateY(.5rem);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
=======
>>>>>>> b84bba5... initial commit
}