.header__img{
    width: 100%;
}

.about__img{
    width: 100%;
    
    @include responsive(tab-scape){
        width: 80%;
        margin-left: 5rem;
    }
    
    @include responsive(phone){
        width: 80%;
        margin-left: 7rem;
    }
}

.U-center--img{
    width: 100%;
}

.premium-warranty{
    width: 10rem;
    height: 10rem;
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 57%;
    border-radius: 50%;
    transform: rotate(-25deg);
    box-shadow: .5rem .5rem .5rem rgba($color-black, .2);
    animation: moveInleft .8s ease-out;
    
    @include responsive(tab-scape){  
        left: 65%;
        top: 7%;
        width: 12rem;
        height: 12rem;
    }
    
    @include responsive(phone){  
        left: 70%;
        top: 8%;
        width: 12rem;
        height: 12rem;
        animation: none
    }
}

.premium-logo{
    width: 100%;
    border-radius: 50%;
}

.brand__logo{
    width: 7rem;
    height: 7rem;
    
    @include responsive(tab-scape){  
        height: 10rem;
        width: 10rem;
        margin-top: -2rem;
        margin-left: -7rem;
        
    }
    
    @include responsive(phone){
        width: 10rem;
        height: 10rem;
        margin-top: -5rem;
        margin-left: -7rem;
    }
}