.header__img{
    width: 100%;
    
    @include responsive(phone){
        opacity: 0;
        width: 0;
    }
}

.U-center--img{
    width: 100%;
}

.premium-warranty{
    width: 10rem;
    height: 10rem;
    display: inline-block;
    position: absolute;
    top: 10%;
    left: 57%;
    border-radius: 50%;
    transform: rotate(-25deg);
<<<<<<< HEAD
    box-shadow: .5rem .5rem .5rem rgba($color-black, .2);
    animation: moveInleft .8s ease-out;
=======
    box-shadow: 1rem 1rem 1rem rgba($color-black, .2);
>>>>>>> b84bba5... initial commit
}

.premium-logo{
    width: 100%;
    border-radius: 50%;
<<<<<<< HEAD
}

.brand__logo{
    width: 7rem;
    height: 7rem;
<<<<<<< HEAD
=======
>>>>>>> b84bba5... initial commit
=======
    
    @include responsive(phone){
        opacity: 0;
        width: 0;
    }
>>>>>>> Front
}