body{
    font-family: 'lato', sans-serif;
    font-weight: 400;
}

.header__text{
    margin-top: 5rem;
    max-width: 45rem;
    
    @include responsive(phone){
        max-width: 60rem;
        margin-top: 6rem;        
    }
    
    &--main{
        font-size: 4rem;
        font-weight: $default-weight;
        line-height: 5rem;
        
        @include responsive(tab-scape){ 
            font-size: 4.5rem;
            line-height: 5.5rem;
        }
        
        @include responsive(phone){
            font-size: 5rem;
            line-height: 6rem;
        }
    }
    
    &--sub{
        font-size: $default-size;
        color: $color-primary-sub;
        line-height: 2.5rem;
        
            @include responsive(tab-port){ 
                font-size: 1.8rem;
                line-height: 3rem;
        }
        
            @include responsive(tab-scape){  
                font-size: 2rem;
                line-height: 3rem;
        }
        
        @include responsive(phone){
            font-size: 2.2rem;
            line-height: 3.5rem;
        }
    }
    
    &--btn{
        margin-top: 2rem;
        
        @include responsive(phone){
            margin-top: 3rem;
        }
    }
}

//ABOUT SECTION
.about-heading{
    font-size: 3.4rem;
    text-transform: uppercase;
    font-weight: $default-weight;
    margin-bottom: 3rem;
    
    @include responsive(tab-scape){  
                font-size: 3.7rem;
        }
    
    @include responsive(phone){
            font-size: 3.7rem;
            margin-bottom: 2rem;
        }
}

.about-text{
    text-align: right;
    margin-top: 1rem;
    padding-right: 5rem;
    
    @include responsive(phone){
            margin-top: 1.2rem;
        }
    
    &--main{
        font-size: 1.8rem;
        font-weight: 600;
        color: $color-primary-main;
        margin-bottom: 1.5rem;
        
        @include responsive(tab-port){ 
            font-size: 2rem;
        }
        
        @include responsive(tab-scape){  
                font-size: 2.3rem;
        }
        
        @include responsive(phone){
            font-size: 2.7rem;
            margin-bottom: 2.3rem;
        }
    }
    
    &--sub{
        font-size: $default-size;
        color: $color-primary-sub;
        line-height: 2rem;
        
        @include responsive(tab-port){ 
            font-size: 1.8rem;
            line-height: 2.7rem;
        }
        
        
        @include responsive(tab-scape){  
                font-size: 2rem;
                line-height: 3rem;
        }
        
        @include responsive(phone){
            font-size: 2.2rem;
            line-height: 3.2rem;
        }
    }
    
    &--form{
        margin-top: 5rem;
    }
    
    &--input{
        background-color: transparent;
        width: 30rem;
        height: 4.25rem;
        border: 1px solid $color-box--btn;
        outline: none;
        font-family: inherit;
        font-size: 1.5rem;
        color: $color-primary-main;
        padding: .2rem 1rem;
        transition: border .8s;
        
        @include responsive(tab-scape){  
            width: 31rem;
            height: 6rem;
            font-size: 2.5rem;
        }
        
        @include responsive(phone){
            width: 50rem;
            height: 7rem;
            font-size: 2.5rem;
        }
        
        &:valid{
            border: 1px solid $color-dark-green;
        }
        
        &:valid + .about-text--btn{
            background-color: $color-dark-green;
        }
    }
}

//FEATURES SECTION
.section-features--hero{
    display: inline-block;
    margin: 0 7rem;
    text-align: center;
    margin-bottom: 5rem;
    
    @include responsive(tab-scape){  
            margin: 0 .8rem;
            margin-bottom: 5rem;
        }
    
    @include responsive(phone){
            margin: 0 2rem;
            margin-bottom: 5rem;
        }
    
    &--fig{
        font-size: 3.5rem;
        font-weight: 700;
        
        @include responsive(phone){
            font-size: 2.7rem;
        }
    }
    
    &--sh{
        font-size: 2rem;
        font-weight: 500;
        
        @include responsive(phone){
            font-size: 1.7rem;
        }
    }
    
    
}

.features-text--btn{
    text-align: center;
}

//PREMIUM
.section-premium--heading{
    font-size: 3.4rem;
    font-weight: $default-weight;
    text-align: center;
    text-transform: uppercase;
    
    @include responsive(phone){
           font-size: 3.7rem;
        }
}

.premium-card{
    width: 35rem;
    height: 107vh;
    margin-top: 5rem;
    background-image: url(../img/bg-5.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 1rem 1rem 1rem rgba($color-black, .2);
    animation: moveInleft .8s ease-out;
    
    @include responsive(tab-port){ 
        height: 135vh;
    }
        
    
    @include responsive(tab-scape){  
        width: 45rem;
        height: 175vh;
    }
    
    @include responsive(phone){
        width: 50rem;
        height: 175vh;
        animation: none;
    }
    
    &--text{
        padding: 2rem;
        
        @include responsive(tab-port){ 
            padding: 2.7rem;
        }
        
        
        @include responsive(tab-scape){  
            padding: 2.5rem;
        }
        
        @include responsive(phone){
           padding: 3rem;
        }
    }
    
    &--heading{
        font-size: 3.2rem;
        font-weight: 500;
        letter-spacing: .2rem;
        
        @include responsive(tab-scape){  
            font-size: 3.8rem;
        }
        
        @include responsive(phone){
           font-size: 3.7rem;
        }
    }
    
    &--price{
        font-size: 4.2rem;
        font-weight: 700;
        margin: 2rem 0;
        color: crimson;
        
        @include responsive(tab-scape){  
            font-size: 5rem;
        }
        
        @include responsive(phone){
           font-size: 5.2rem;
        }
    }
    
    &--sub{
        font-size: $default-size;
        color: $color-primary-sub;
        line-height: 2rem;
        margin-top: 2rem;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid $color-primary-sub;
        
        @include responsive(tab-port){ 
            font-size: 1.6rem;
            line-height: 2.7rem;
        }
        
        
        @include responsive(tab-scape){  
            font-size: 2.3rem;
            line-height: 3rem;
            padding-bottom: 2.2rem;
        }
        
        @include responsive(phone){
            font-size: 2.2rem;
            line-height: 3rem;
            padding-bottom: 2rem;
        }
    }
    
    &--menu{
        margin-top: 2rem;
        list-style: none;
        
        @include responsive(tab-scape){  
            margin-top: 3rem;
        }
        
        @include responsive(phone){
           margin-top: 3.2rem;
        }
    }
    
    &--menu-items{
        font-size: 1.6rem;
        color: $color-primary-main;
        
        @include responsive(tab-port){ 
            font-size: 1.7rem;
        }
        
        
        @include responsive(tab-scape){  
            font-size: 2.2rem;
        }
        
        @include responsive(phone){
           font-size: 2.2rem;
        }
        
        &:not(:first-child){
            margin-top: 1.8rem;
            
                @include responsive(phone){
                   margin-top: 2rem;
            }
        }
    }
    
    .fa{
        margin-right: 1rem;
        font-size: 1.6rem;
        color: $color-primary-main;
        
        @include responsive(tab-scape){  
            font-size: 2rem;
            margin-right: 1.2rem;
        }
        
        @include responsive(phone){
            font-size: 2.2rem;
            margin-right: 1.5rem;
        }
    }
}

//TESTIMONY SECTION 
.testimony--heading{
    font-size: 3.4rem;
    font-weight: $default-weight;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
    color: $color-primary-main;
    
    @include responsive(phone){
           font-size: 3.7rem;
        }
}

.testimony-background{
    width: 100%;
    height: 62vh;
    text-align: center;
    background-image: url(../img/bg-5.jpg);
    background-position: center;
    background-size: cover;
    margin-top: 10rem;
    box-shadow: .5rem .5rem .5rem rgba($color-black, .2);
    animation: moveInbutton .8s ease-out;
    animation-fill-mode: backwards;
    backface-visibility: hidden;
    
    @include responsive(tab-port){ 
        height: 85vh;
    }
        
    
    @include responsive(tab-scape){  
        height: 100vh;
        width: 100%;
    }
    
    @include responsive(phone){
        height: 110vh;
        animation: none;
        }
}

.testimony__text{
    padding: 0 2rem;
    
    @include responsive(tab-scape){  
            padding: 0 5rem;
        }
    
    @include responsive(phone){
           padding: 0 3rem;
        }
    
    &--pic{
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        margin-top: -5rem;
        box-shadow: .5rem .5rem .5rem rgba($color-black, .2);
        
        @include responsive(tab-scape){  
            width: 18rem;
            height: 18rem;
        }
        
        @include responsive(phone){
           width: 17rem;
            height: 17rem;
        }
    }
    
    &--sub{
        margin-top: 3rem;
        font-size: 1.6rem;
        line-height: 2.5rem;
        color: $color-primary-sub;
        
        @include responsive(tab-port){ 
            font-size: 1.6rem;
        }
        
        
        @include responsive(tab-scape){  
            font-size: 2.3rem;
            line-height: 3rem;
        }
        
        @include responsive(phone){
           margin-top: 3.7rem;
            font-size: 2.2rem;
            line-height: 3rem;
        }
    }
    
    &--main{
        margin-top: 1.5rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: 700;
        color: $color-primary-main;
        
        @include responsive(tab-scape){  
            font-size: 2.5rem;
        }
        
        @include responsive(phone){
           margin-top: 2rem;
            font-size: 2rem;
        }
    }
    
    &--rating{
        margin-top: 2rem;
    }
    
    .fa{
        color: darkorange;
        font-size: 1.6rem;
        
        @include responsive(tab-scape){  
            font-size: 2.2rem;
        }
        
        @include responsive(phone){
           font-size: 1.8rem;
        }
    }
}

.icon-basic{
    display: inline-block;
    position: fixed;
    top: 40%;
    left: 2%;
    
    @include responsive(tab-scape){  
            left: 2%;
        }
    
    @include responsive(phone){
           top: 50%;
            left: 5%;
        }
    
    &--link{
        display: block;
        text-decoration: none;
        font-size: 2rem;
        color: $color-primary-main;
        
        @include responsive(tab-scape){  
            font-size: 2.3rem;
        }
        
        @include responsive(phone){
           font-size: 2.7rem;
        }
        
        &:not(:first-child){
            margin-top: 1.5rem;
            
            @include responsive(tab-scape){  
                margin-top: 1.7rem;
        }
            
                @include responsive(phone){
                   margin-top: 1.8rem;
            }
        }
        
        &:hover{
            color: $color-box--btn;
        }
    }
}