.U-margin-small{
    margin-top: 3rem;
}

.center{
    justify-content: center;
}

.sh-left{
    text-align: right;
    margin-right: 2rem;
    padding-top: 2rem;
}

.U-left{
    text-align: left;
    padding-left: 7rem;
}

.U-margin-big{
    margin-top: 7rem;
}

.U-margin-left{
    margin-left: 4rem;
}

.U-margin-bg{
    margin: 5rem 0;
}

.animated-1{
    animation-delay: 1s;
}

.animated-2{
    animation-delay: 2s;
}

.U-top{
    margin-top: -1.5rem;
}

.sh-demo{
    margin-top: -11rem;
    
    @include responsive (tab-scape){
        margin-top: -8rem;
    }
}

.left{
    float: left;
}