.U-margin-small{
<<<<<<< HEAD
    margin-top: 3rem;
=======
    margin-top: 2rem;
>>>>>>> b84bba5... initial commit
}

.center{
    justify-content: center;
}

.sh-left{
    text-align: right;
    margin-right: 2rem;
    padding-top: 2rem;
}

.U-left{
    text-align: left;
<<<<<<< HEAD
    padding-left: 7rem;
=======
    padding-left: 5rem;
>>>>>>> b84bba5... initial commit
}

.U-margin-big{
    margin-top: 7rem;
}

<<<<<<< HEAD
.U-margin-left{
    margin-left: 4rem;
}

=======
>>>>>>> b84bba5... initial commit
.U-margin-bg{
    margin: 5rem 0;
}

.animated-1{
    animation-delay: 1s;
}

.animated-2{
    animation-delay: 2s;
<<<<<<< HEAD
}

.U-top{
    margin-top: -1.5rem;
}

.sh-demo{
    margin-top: -12rem;
=======
>>>>>>> b84bba5... initial commit
}