.section-about{
    margin-top: 10rem;
    padding-left: 7rem;
    text-align: center;
    
    @include responsive(tab-scape){
        padding-left: 0;
    }
    
    @include responsive(phone){
        padding-left: 6rem; 
    }
}

.section-features{
    margin: 7rem 0;
    padding:0 10rem;
    margin-bottom: 2rem;
}

.section-premium{
    margin: 10rem 0;
    position: relative;
    
    @include responsive(phone){  
        margin: 5rem 0; 
    }
}

.section-testimony{
    margin-top: 15rem;
    padding: 0 7rem;
    margin-bottom: 2rem;
}

.footer{
    margin-top: 12rem;
}