.footer-hero{
    width: 100%;
    height: 30vh;
<<<<<<< HEAD
    background-color: $color-box-bg;
=======
    background-color: orangered;
>>>>>>> b84bba5... initial commit
    
    &--tn{
        float: right;
        display: inline-block;
        padding: 6rem 5rem;
    }
}

.footer__text{
    padding: 5rem 5rem;
    display: inline-block;
    float: left;
    
    &--sub{
        font-size: 2.5rem;
        font-weight: 700;
        color: $color-white;
    }
    
    &--sm{
        font-size: 1.6rem;
        color: $color-white;
        margin-top: 1rem;
    }
}

.footer-box{
    width: 100%;
    height: 90vh;
<<<<<<< HEAD
    background-color: $color-primary-main;
    padding:0 5rem;
    
    &--icon{
        margin-top: 2rem;
    }
    
    &--li{
        font-size: 1.8rem;
        color: $color-primary-sub;
        transition: all .4s;
        
        &:not(:first-child){
            margin-left: 2rem;
        }
        
        &:hover{
            color: $color-white;
        }
    }
    
=======
    background-color: #111111;
    padding:0 5rem;
    
>>>>>>> b84bba5... initial commit
    &--text{
        margin-top: 5rem;
    }
    
    &--main{
<<<<<<< HEAD
        font-size: 1.6rem;
=======
        font-size: 2rem;
>>>>>>> b84bba5... initial commit
        color: $color-white;
        font-weight: 700;
        text-transform: uppercase;
    }
    
    &--sub{
<<<<<<< HEAD
        font-size: 1.4rem;
=======
        font-size: 1.5rem;
>>>>>>> b84bba5... initial commit
        line-height: 2.5rem;
        color: $color-primary-sub;
        margin-top: 2rem;
    }
    
    &--menu{
<<<<<<< HEAD
        margin-top: 2rem;
        list-style: none;
    }
    
    &--menu-items{
        
        &:not(:first-child){
            margin-top: 2rem;
        }
    }
    
    &--link{
        text-decoration: none;
        font-size: 1.4rem;
        color: $color-primary-sub;
        transition: all .4s;
        
        &:hover{
            color: $color-white;
        }
    }
    
    &--logo{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        margin-top: 7rem;
    }
    
    &--form{
        margin-top: 2rem;
        
        &:valid .fa{
            display: none;
        }
        
        &:valid .footer-box--btn--btn{
            visibility: visible;
        }
    }
    
    &--input{
        background-color: transparent;
        width: 13rem;
        border: none;
        outline: none;
        padding: .5rem;
        color: $color-primary-sub;
        font-size: 1.2rem;
        
        &::placeholder{
            font-family: inherit;
            color: $color-primary-sub;
            font-size: 1.2rem;
        }
    }
}

.footer-copyright{
    margin-top: 8rem;
    font-size: 1.4rem;
    color: $color-primary-sub;
    word-spacing: .5rem;
    
    &--link{
        color: orangered;
        text-decoration: none;
        transition: all .4s;
        
        &:hover{
            color: $color-white;
        }
    }
=======
        margin-top: 3rem;
        list-style: none;
    }
>>>>>>> b84bba5... initial commit
}