.header{
    padding-left: 7rem;
    padding-top: 3rem;
    position: relative;
    padding-left: 5rem;
    padding-top: 3rem;
    height: 100vh;
    
    @include responsive(phone){
        padding-left: 6rem;
        padding-top: 5rem;
    }
    
    &__logo{
        font-size: 2.5rem;
        font-weight: 700;
        position: absolute;
        top: 10%;
        left: 12%;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-primary-main;
        
        @include responsive(phone){
            font-size: 6rem;
            top: 5%;
            left: 5%;
        }
    }
    
    &__left-col{
        flex-basis: 38%;
        
            @include responsive(phone){
                flex-basis: 100%;
            }
    }
    
    &__right-col{
        flex-basis: 60%;
        margin-left: 1rem;
        
        @include responsive(phone){
            opacity: 0;
            flex-basis:  0;
            margin-left: 0;
        }
    }
}

.navigation{
    float: right;
    position: fixed;
    border-radius: 100%;
    top: 3rem;
    right: 3rem;
    z-index: 3000;
    box-shadow: 0 1rem 1rem rgba($color-black, .5);
    
    &__input{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $color-primary-main;
    display: inline-block;
    text-align: center;
    }
    
    &__icon{
    position: relative;
    margin-top: 1.9rem;
        
        &,
        &::before,
        &:after {
        width: 3rem;
        height: 2px;
        background-color: #fff;
        display: inline-block;
        }
        
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 1rem;
        }
        
        &::after{
            content: "";
            position: absolute;
            left: 0;
            top: 2rem;
        }
    }
    
    .checkbox:checked + &__input &__icon{
        background-color: transparent;
        margin-top: 3rem;
    }
    
    .checkbox:checked + &__input &__icon::before{
        transform: rotate(-135deg);
        top: 0;
    }
    
    
    .checkbox:checked + &__input &__icon::after{
        transform: rotate(135deg);
        top: 0;
    }


}


.checkbox{
        display: none;
    }

.U-center{
    position: absolute;
    top: 60%;
    left: 60%;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}