.header{
    padding-left: 7rem;
    padding-top: 3rem;
    position: relative;
    
    &__logo{
        font-size: 2.5rem;
        font-weight: 700;
        position: absolute;
        top: 10%;
        left: 12%;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-primary-main;

    }
    
    &__left-col{
        flex-basis: 38%;
    }
    
    &__right-col{
        flex-basis: 60%;
        margin-left: 1rem;
    }
}



.U-center{
    position: absolute;
    top: 60%;
    left: 60%;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}