.header{
    padding-left: 7rem;
    padding-top: 3rem;
    position: relative;
    
    @include responsive(tab-scape){ 
        padding-left: 8rem;
    }
    
    @include responsive(phone){
        padding-left: 8rem;
        padding-top: 5rem;
    }
    
    &__left-col{
        flex-basis: 38%;
        
            @include responsive(phone){
                flex-basis: 100%;
            }
    }
    
    &__right-col{
        flex-basis: 60%;
        margin-left: 1rem;
        
        @include responsive(phone){
            opacity: 0;
            flex-basis:  0;
            margin-left: 0;
        }
    }

}