.log-body{
    background-color: $color-white;
}
.top{
    top: 40%;
}

.section-log--heading{
    font-size: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: $default-weight;
}

.section-form{
    width: 100%;
    margin-top: 2rem;
    
    &:valid &--input{
        
            border: 1px solid $color-dark-green;
        }
    
     &:valid  &--bg{
            background-color: $color-dark-green;
        }
    
    &--input{
        display: block;
        margin: 0 auto;
        background-color: transparent;
        width: 40rem;
        height: 3.5rem;
        padding: 2rem;
        border: 1px solid $color-box--btn;
        outline: none;
        font-size: 1.5rem;
        font-family: 'lato', sans-serif;
        transition: all .4s;
        
        &:not(:first-child){
            margin-top: 3rem;
        }
    }
    
    &--btn{
        margin-top: 2rem;
        text-align: center;
    }
    
    &--bg{
        background-color: $color-box--btn;
        width: 40rem;
        height: 5rem;
        border: none;
        font-size: 1.6rem;
        text-transform: uppercase;
        outline: none;
        cursor: pointer;
        margin-left: -.2rem;
        transition: border .8s;
        transition: all .4s;
        
        &:hover{
            transform: translateY(-.5rem);
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
        }
        
        &:active{
            transform: translateY(.5rem);
            box-shadow: 0 .5rem 1rem rgba($color-black, .2);
        }
    }
    
    &--box{
        text-align: center;
        margin-top: 2rem;
    }
    
    &--link{
        text-transform: uppercase;
        font-size: 1.6rem;
        text-decoration: none;
        color: $color-primary-main;
    }
}