.sideBar{
    width: 20%;
    height: 130vh;
    background-color: $color-black;
    margin-top: -3rem;
    box-shadow: 0 1rem 1rem rgba($color-black, .2);
    
    @include responsive(tab-scape){
            width: 25%;
        }
    
    @include responsive(phone){
        width: 35%;
        height: 140vh;
    }
    
    &--img{
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        margin: 3rem auto;
        
        @include responsive(tab-scape){
            width: 13rem;
            height: 13rem;
        }
        
        @include responsive(phone){
            width: 13rem;
            height: 13rem;
        }
    }
    
    &--user{
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        margin-top: 2rem;
        
        @include responsive(tab-scape){
            width: 13rem;
            height: 13rem;
        }
        
        @include responsive(phone){
            width: 13rem;
            height: 13rem;
        }
    }
    
    &--main{
        margin-top: 2rem;
        text-transform: uppercase;
        font-size: 1.5rem;
        color: $color-white;
        font-weight: $default-weight;
        
        @include responsive(tab-scape){
            font-size: 1.8rem;
            margin-top: 2.2rem;
        }
        
        @include responsive(phone){
            font-size: 1.8rem;
            margin-top: 2rem;
        }
    }
    
    &--nav{
        margin-top: 7rem;
        text-align: center;
        
        @include responsive(tab-scape){
            margin-top: 10rem;
        }
        
        
        @include responsive(phone){
            margin-top: 10rem;
        }
        
        .fa{
            font-size: 1.5rem;
            margin-left: 1rem;
            border-radius: 3px;
            text-align: center;
            cursor: pointer;
            
            @include responsive(tab-scape){
                font-size: 2rem;
        }
        
            
            @include responsive(phone){
                font-size: 2.5rem;
        }
            
            &:not(:last-child){
                background-color: rgba($color-dark-green, .5);
            }
        }
        
        .fa-plus{
            color: #32cd32;
            background-color: rgba(lime, .2);
            padding: .5rem 1rem;
            border: 1px solid #32cd32;
        }
        
        .fa-ellipsis-v{
            color: #c71585;
            background-color: rgba(#ff69b4, .5);
            padding: .5rem 1rem;
            border: 1px solid #ff1493;
        }
    }
    
    &--1{
        color: #0000cd;
        font-size: 1.2rem;
        background-color: rgba(#0000ff, .5);
        padding: .5rem 1rem;
        border: 1px solid #0000cd;
        border-radius: 3px;
        font-weight: $default-weight;
        cursor: pointer;
    }
    
    &--navigation{
        margin-top: 2rem;
        
        @include responsive(tab-scape){
            margin-top: 5rem;
        }
        
        
        @include responsive(phone){
           margin-top: 4rem;
        }
    }
    
    &--menu{
        list-style: none;
        padding-left: 2rem;
    }
    
    &--menu-items{
        
        &:not(first-child){
            margin-top: 3rem;
            
            @include responsive(tab-scape){
                margin-top: 4rem;
        }
            @include responsive(phone){
                margin-top: 3.5rem;
        }
        }
        
        .fa{
            font-size: 1.6rem;
            @include responsive(phone){
                font-size: 2.2rem;
        }
        }
        
        .fa-home{
            color: darkorange;
        }
        
        .fa-check{
            color: lime;
        }
        
        .fa-close{
            color: red;
        }
        
        .fa-send{
            color: $color-box-bg;
        }
    }
    
    &--link{
        text-decoration: none;
        font-size: 1.5rem;
        color: $color-white;
        margin-left: 1rem;
        transition: all .2s;
        
        @include responsive(tab-scape){
            font-size: 2rem;
        }
        
        @include responsive(phone){
            font-size: 1.9rem;
        }
        
        &:hover{
            color: $color-primary-sub;
        }
    }
    
    &--btn{
        background-color: $color-box--btn;
        width: 90%;
        height: 3.7rem;
        text-align: center;
        margin-top: 2.5rem;
        margin-left: 1rem;
        
        @include responsive(tab-scape){
            height: 5rem;
            margin-top: 5rem;
        }
        
        @include responsive(phone){
            height: 5rem;
            margin-top: 5rem;
        }
    }
    
    &--li{
        font-size: 1.5rem;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-primary-main;
        padding-top: 1rem;
        display: inline-block;
        
        @include responsive(tab-scape){
            font-size: 2rem;
            padding: 1.5rem;
        }
        
        
        @include responsive(phone){
            font-size: 2rem;
            padding: 1.5rem;
        }
    }
}

.section-user{
    position: absolute;
    top: 0;
    left: 20%;
    width: 80%;
    height: 100vh;
    
    @include responsive(tab-port){
        height: 140vh;
    }
    
    @include responsive(tab-scape){
        height: 140vh;
    }
    
    @include responsive(phone){
        left: 15%;
        height: 140vh;
     }
    
    &--box{
        text-align: center;
        position: relative;
    }
    
    &--task{
        margin-top: 2rem;
    }
    
    &--heading{
        text-align: center;
        font-size: 2rem;
        font-weight: $default-weight;
        text-transform: uppercase;
        color: $color-primary-main;
        
        @include responsive(tab-scape){
            font-size: 3rem;
        }
        
        @include responsive(phone){
           font-size: 2.5rem;
        }
    }
    
    &--content-1{
        width: 50%;
        height: 130vh;
    }
    
    &--details{
        padding: 2rem;
    }
    
    &--main{
        display: block;
        font-size: 1.6rem;
        color: $color-primary-main;
        font-weight: 500;
        margin-left: -.5rem;
        
        @include responsive(tab-scape){
            font-size: 2rem;
        }
        
        @include responsive(phone){
            font-size: 2rem;
        }
        
        &:not(first-child){
            margin-top: 2.5rem;
            
            @include responsive(tab-scape){
                margin-top: 2rem;
            }
            
            @include responsive(phone){
                margin-top: 2rem;
            }
        }
    }
    
    .fa{
        margin-right: 1rem;
        font-size: 1.8rem;
        
        @include responsive(phone){
            font-size: 2.5rem;
        }
    }
    
    &--input{
        width: 36rem;
        height: 3rem;
        padding: 2rem;
        margin-top: 1rem;
        background-color: transparent;
        border: 1px solid $color-box--btn;
        outline: none;
        font-family: inherit;
        font-size: 1.5rem;
        
        @include responsive(tab-scape){
            font-size: 1.8rem;
            width: 50rem;
            height: 6rem;
        }
        
        @include responsive(phone){
            width: 50rem;
            height: 5rem;
            font-size: 1.8rem;
        }
        
        &:valid + .fa-check{
            visibility: visible;
            color: $color-dark-green;
        }
    }
    
    &--date{
        margin-top: 1.2rem;
        position: relative;
        font-family: 'lato', sans-serif;
    }
    
    &--select{
        font-family: inherit;
        font-weight: 500;
        font-size: 1.5rem;
        outline: none;
        border: 1px solid $color-box--btn;
        display: inline-block;
        max-width:20%;
        height: 70%;
        padding: .5rem;
        margin-top: .8rem;
        background-color: transparent;
        box-sizing: inherit;
        color: $color-primary-main;
        
        @include responsive(phone){
            max-width: 25%;
            height: 100%;
            font-size: 1.8rem;
        }
        
        &:not(:first-child){
            margin-left: 1.8rem;
        }
    }
    
    &--group{
       font-weight: normal;
    }
    
    &--btn{
        float: right;
        background-color: $color-dark-green;
        border: none;
        padding: 1rem 2rem;
        text-transform: uppercase;
        font-size: $default-size;
        cursor: pointer;
        color: $color-primary-main;
        
        @include responsive(phone){
            margin-top: 2rem;
            font-size: 1.8rem;
            padding: 1.5rem 2.5rem;
        }
        
        &:hover,
        &:active{
            outline: none;
        }
    }
    
    .fa-commenting{
        color: $color-box--btn;
    }
    
    .fa-map-marker{
        color: crimson;
    }
    
    .fa-send{
        color: $color-dark-green;
    }
    
    .fa-close{
        color: red;
    }
    
    .fa-check{
        margin-left: 1rem;
        visibility: hidden;
        transition: visible .4s;
    }
}